.pokemon .type-bug {
  color: #A8B820; }
.pokemon .type-dragon {
  color: #7038F8; }
.pokemon .type-electric {
  color: #F8D030; }
.pokemon .type-fairy {
  color: #EE99AC; }
.pokemon .type-fire {
  color: #F08030; }
.pokemon .type-flying {
  color: #A890F0; }
.pokemon .type-ghost {
  color: #705898; }
.pokemon .type-grass {
  color: #78C850; }
.pokemon .type-ground {
  color: #E0C068; }
.pokemon .type-ice {
  color: #98D8D8; }
.pokemon .type-normal {
  color: #A8A878; }
.pokemon .type-poison {
  color: #A040A0; }
.pokemon .type-rock {
  color: #B8A038; }
.pokemon .type-steel {
  color: #B8B8D0; }
.pokemon .type-water {
  color: #6890F0; }
.pokemon .icon-bug {
  background-color: #A8B820; }
.pokemon .icon-dragon {
  background-color: #7038F8; }
.pokemon .icon-electric {
  background-color: #F8D030; }
.pokemon .icon-fairy {
  background-color: #EE99AC; }
.pokemon .icon-fire {
  background-color: #F08030; }
.pokemon .icon-flying {
  background-color: #A890F0; }
.pokemon .icon-ghost {
  background-color: #705898; }
.pokemon .icon-grass {
  background-color: #78C850; }
.pokemon .icon-ground {
  background-color: #E0C068; }
.pokemon .icon-ice {
  background-color: #98D8D8; }
.pokemon .icon-normal {
  background-color: #A8A878; }
.pokemon .icon-poison {
  background-color: #A040A0; }
.pokemon .icon-rock {
  background-color: #B8A038; }
.pokemon .icon-steel {
  background-color: #B8B8D0; }
.pokemon .icon-water {
  background-color: #6890F0; }